body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin: 15px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 20px;
}

img {
	width: 100%;
}

figure {
    margin: 25px;
    border: 1px solid black;
    text-align: center;
    max-width: 100%;
}

@media screen and (min-width: 520px){
    * {
        font-size: 1.2em;
    }
    
    body {
        background-color: bisque;
        word-break: normal;
    }

    figure {
        width: 35%;
    }

    .align-images{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (min-width: 800px){
    * {
        font-size: 1.5em;
    }

    figure {
        width: 16%;
    }

    body {
        background-color: aliceblue;
    }
}
