body{
    margin: 0;
    background-color: whitesmoke;
}

.title-left-box {
    float: left;
    width: 10%;
    block-size: 100%;
    bottom: 0;
    text-align: center;
    color: white;
    font-family: 'Raleway'; sans-serif;
    background-color: #4A4D49;

}

.all-left-box {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    padding-top: 0;
}

.text-left-box {
    text-decoration: white;
    text-shadow: 1px;
}

.nav-menu {
    line-height: 150%;
    font-size: 100%
}
